body{
    margin:0;
    padding:0;
    background-color:#181818;
    font-family: Montserrat; 
}
.lastestSpotifyReleases{
    margin-top: 25vh;
    margin-bottom:10vh;
    font-size: 24px;
    color:white;
    font-weight: 400; 
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
}
.albumWrapper{
    margin-bottom: 5vh;
}
.questionUs{
    min-width: 100%;
    height: auto;
    margin-top:3vh;
}
.albumNameText{
    padding-top: 10px;
}
.albumUrl,.albumUrl:hover{
    color:white;
    font-weight: 700; 
    font-size:15px;
    
}

.albumArtistText,.albumArtistText:hover{
    color:#1DB954;
    font-weight: 600; 
    font-size:13px
}
.albumListButton{
    font-size: 13px;
    cursor: pointer;
    font-weight: 400;  
    width: 100%;
    color:white;
    text-transform: lowercase;
}
.albumListButton:hover{
   text-decoration: underline;
}
.albumList{
    height: auto;
}
.albumPicture{
    width: 100%;
    height: auto;
}
.albumTitle{
    margin-bottom: 10px;
}
.trackTitle{
    color:white;
    font-size: 13px;
    font-weight: 400; 
}

img {
    max-width: 100%;
}



::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, .09)
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 100px
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .61);
    -webkit-border-radius: 100px
}













